!!! 5
%html
  %head
    %title Blab
    %script{:type => 'text/javascript', :src => '/bundle.js'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/dark-hive/jquery-ui-1.8.14.custom.css'}
  %body
    = yield